[submodule "zsh/zsh-snap"]
	path = zsh/zsh-snap
	url = git@github.com:marlonrichert/zsh-snap.git
[submodule "zsh/zsh-autocomplete"]
	path = zsh/zsh-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git
